VideoStreamServer/bin/Debug/netcoreapp3.1/appsettings.Development.json
VideoStreamServer/bin/Debug/netcoreapp3.1/appsettings.json
VideoStreamServer/bin/Debug/netcoreapp3.1/VideoStreamServer.deps.json
VideoStreamServer/bin/Debug/netcoreapp3.1/VideoStreamServer.dll
VideoStreamServer/bin/Debug/netcoreapp3.1/VideoStreamServer.exe
VideoStreamServer/bin/Debug/netcoreapp3.1/VideoStreamServer.pdb
VideoStreamServer/bin/Debug/netcoreapp3.1/VideoStreamServer.runtimeconfig.dev.json
VideoStreamServer/bin/Debug/netcoreapp3.1/VideoStreamServer.runtimeconfig.json
VideoStreamServer/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
VideoStreamClient/bin/Debug/netcoreapp3.1/appsettings.Development.json
VideoStreamClient/bin/Debug/netcoreapp3.1/appsettings.json
VideoStreamClient/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Connections.Abstractions.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Connections.Client.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Connections.Common.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Features.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.SignalR.Client.Core.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.SignalR.Client.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.SignalR.Common.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.SignalR.Protocols.Json.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/System.IO.Pipelines.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/System.Text.Encodings.Web.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/System.Text.Json.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/System.Threading.Channels.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/VideoStreamClient.deps.json
VideoStreamClient/bin/Debug/netcoreapp3.1/VideoStreamClient.dll
VideoStreamClient/bin/Debug/netcoreapp3.1/VideoStreamClient.exe
VideoStreamClient/bin/Debug/netcoreapp3.1/VideoStreamClient.pdb
VideoStreamClient/bin/Debug/netcoreapp3.1/VideoStreamClient.runtimeconfig.dev.json
VideoStreamClient/bin/Debug/netcoreapp3.1/VideoStreamClient.runtimeconfig.json
VideoStreamClient/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
VideoStreamClient/ReciveFiles/recived.mp4
VideoStreamServer/Videos/Window.mp4
VideoStreamServer/Videos/Window1.bak
VideoStreamServer/Videos/Window2.bak
VideoStreamServer/Videos/out.mp4
