<div id="videoContainer" style="text-align:center" preload="auto"> 
  <!-- <button onclick="playPause()">Play/Pause</button> 
  <button onclick="makeBig()">Big</button>
  <button onclick="makeSmall()">Small</button>
  <button onclick="makeNormal()">Normal</button> -->
  <br><br>
<video controls id="videoEl" preload="none" src="">
</video>
</div> 
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="content">
    <h1>
      Welcome to {{title}}!
    </h1>
    <span style="display: block">{{ title }} app is running!</span>
  </div>
<h2>received data: </h2>
<div id="messagesList"></div>

<input id="elbytes" type="text"/>

<router-outlet></router-outlet>